# Big model files we never want on GitHub
models/whisper/turbo/model.bin
models/whisper/turbo/*.bin
models/whisper/turbo/*.safetensors
models/whisper/turbo/*.pt
models/whisper/turbo/*.pth
models/resemblyzer/*.py
models/resemblyzer/*pt

# Input files
data/input/

# PRocessed files
data/processed/

# Output files
data/output/


# Cache files we don't need on GitHub
data/cache/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store

# Mac junk files - we don't want these on GitHub
.DS_Store
*/.DS_Store

# BFG cleanup junk - we don't want these on GitHub
..bfg-report/
bfg-1.14.0.jar


backup_process_audio.py